<mat-progress-bar [hidden]="!planManejoViewModel.cargando" mode="indeterminate">
</mat-progress-bar>

<div class="container">
    <form [formGroup]="formulario">

        <div class="container-opciones">

            <div class="tarjetas-plan-manejo" >
                <div  class="tarjeta-menu" (click)="seleccionarPlan(planManejoViewModel.mensajes.campos.tratamientos)">
                    <div class="tarjeta-container">
                        <div class="opciones-icon">
                            <img src="./assets/img/tratamientos.svg" alt="{{ planManejoViewModel.mensajes.campos.tratamientos }}">
                        </div>
                        <div class="texto">
                            {{ planManejoViewModel.mensajes.campos.tratamientos }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjetas-plan-manejo">
                <div  class="tarjeta-menu" (click)="seleccionarPlan(planManejoViewModel.mensajes.campos.procedimientos)">
                    <div class="tarjeta-container">
                        <div class="opciones-icon">
                            <img src="./assets/img/procedimientos.svg" alt="{{ planManejoViewModel.mensajes.campos.procedimientos }}">
                        </div>
                        <div class="texto">
                            {{ planManejoViewModel.mensajes.campos.procedimientos }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="boton">
                    <button mat-button color="primary" (click)="cargar()"  [hidden]="isValid" mat-raised-button>Novedades Pendientes</button>
            </div>
        </div>

        <div class="tratamientos" *ngIf="verTratamientos()">
            <hr class="linea-espacio">
            <div class="opcion-container">
                <div class="opcion-seleccionada">
                    <div class="img-opcion">
                        <img src="./assets/img/tratamientos.svg" alt="plan-manejo">
                    </div>
                </div>
                <div class="titulo-opcion">{{ planManejoViewModel.mensajes.campos.tratamientos }}</div>
            </div>
            <hr class="linea-espacio">

            <div class="separador"></div>

            <div class="table">
                <p-table [columns]="columnasTratamientos" [value]="planManejoViewModel.tratamientos" [scrollable]="true" scrollHeight="400px" 
                [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" 
                [responsive]="true" dataKey="id" >
                 
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="texto-tabla medicamentoTitulo" [pSortableColumn]="planManejoViewModel.mensajes.tabla.medicamentoCampo">
                                {{ planManejoViewModel.mensajes.tabla.medicamento }}
                                <p-sortIcon [field]="planManejoViewModel.mensajes.tabla.medicamentoCampo"></p-sortIcon>
                            </th>
                            <th class="texto-tabla dosisTitulo" [pSortableColumn]="planManejoViewModel.mensajes.tabla.dosisCampo">
                                {{ planManejoViewModel.mensajes.tabla.dosis }}
                                <p-sortIcon [field]="planManejoViewModel.mensajes.tabla.dosisCampo"></p-sortIcon>
                            </th>
                            <th class="texto-tabla frecuenciaTitulo" [pSortableColumn]="planManejoViewModel.mensajes.tabla.frecuenciaCampo">
                                {{ planManejoViewModel.mensajes.tabla.frecuencia }}
                                <p-sortIcon [field]="planManejoViewModel.mensajes.tabla.frecuenciaCampo"></p-sortIcon>
                            </th>
                            <th class="texto-tabla duracionTitulo" [pSortableColumn]="planManejoViewModel.mensajes.tabla.duracionCampo">
                                {{ planManejoViewModel.mensajes.tabla.duracion }}
                                <p-sortIcon [field]="planManejoViewModel.mensajes.tabla.duracionCampo"></p-sortIcon>
                            </th>
                            <th class="texto-tabla dosisFaltantesTitulo" [pSortableColumn]="planManejoViewModel.mensajes.tabla.dosisFaltantesCampo">
                                {{ planManejoViewModel.mensajes.tabla.dosisFaltantes }}
                                <p-sortIcon [field]="planManejoViewModel.mensajes.tabla.dosisFaltantesCampo"></p-sortIcon>
                            </th>
                            <th class="texto-tabla">
                                {{ planManejoViewModel.mensajes.tabla.accion }}
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td class="texto-tabla medicamentoValor">
                                <span class="ui-column-title">{{ planManejoViewModel.mensajes.tabla.medicamento }}</span>
                                {{ rowData.medicamentoDescripcion }}
                            </td>
                            <td class="texto-tabla dosisValor">
                                <span class="ui-column-title">{{ planManejoViewModel.mensajes.tabla.dosis }}</span>
                                {{ rowData.cantidadDosis }} {{ rowData.unidadDosis.descripcion }}
                            </td>
                            <td class="texto-tabla frecuenciaValor">
                                <span class="ui-column-title">{{ planManejoViewModel.mensajes.tabla.frecuencia }}</span>
                                {{ rowData.frecuenciaDescripcion | listaFrecuencia | truncar: 20}}
                            </td>
                            <td class="texto-tabla">
                                <span class="ui-column-title">{{ planManejoViewModel.mensajes.tabla.duracion }}</span>
                                {{ rowData.duracion }} {{
                                planManejoViewModel.mensajes.tratamientos.campos.duracionDosis }}
                            </td>
                            <td class="texto-tabla">
                                <span class="ui-column-title">{{ planManejoViewModel.mensajes.tabla.dosisFaltantes }}</span>
                                {{ rowData.dosisFaltantes }}
                                <span *ngIf="rowData.dosisFaltantes !== null">{{
                                    planManejoViewModel.mensajes.tratamientos.campos.duracionDosis }}</span>
                            </td>
                            <td class="texto-tabla">
                                <mat-icon class="accion" (click)="editarTratamiento(rowData)" matTooltip="{{ planManejoViewModel.mensajes.campos.editar }}"
                                    [matTooltipPosition]="'above'">
                                    edit
                                </mat-icon>
                                <mat-icon class="accion" (click)="eliminarTratamiento(rowData)" matTooltip="{{ planManejoViewModel.mensajes.campos.eliminar }}"
                                    [matTooltipPosition]="'above'">
                                    delete
                                </mat-icon>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" class="container" let-columns>
                        <tr>
                            <td class="centro" [attr.colspan]="columnasTratamientos.length + 1">
                                {{ planManejoViewModel.mensajes.tabla.noTratamientos }}
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
                <p-footer>
                    <div class="total-registros">
                        <span class="total-registros-texto">{{ planManejoViewModel.mensajes.tabla.totalRegistros }}</span>
                        <span class="total-registros-valor">{{planManejoViewModel.tratamientos.length}}</span>
                    </div>
                </p-footer>
            </div>
            <div #scrollDownTratamiento tabindex="1"></div>
        </div>



        <div class="procedimientos" *ngIf="verProcedimientos()">
            <div class="separador"></div>
            <hr class="linea-espacio">
            <div class="opcion-container">
                <div class="opcion-seleccionada">
                    <div class="img-opcion">
                        <img src="./assets/img/procedimientos.svg" alt="plan-manejo">
                    </div>
                </div>
                <div class="titulo-opcion">{{ planManejoViewModel.mensajes.campos.procedimientos }}</div>
            </div>

            <hr class="linea-espacio">

            <div class="curaciones" *ngIf="planManejoViewModel.curaciones.length > 0">
                <div class="separador"></div>
                <div class="subtitulo-procedimiento">
                    <strong>{{planManejoViewModel.mensajes.procedimientos.opcionesMenu.curaciones}}</strong>
                </div>
                <div class="separador"></div>

                <div class="table">
                    <p-table [columns]="columnasCuraciones" [value]="planManejoViewModel.curaciones" [scrollable]="true"
                        scrollHeight="400px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" 
                        [responsive]="true" dataKey="id">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.curaciones.tabla.tipoCuracionCampo"
                                    class="texto-tabla">
                                    {{planManejoViewModel.mensajes.procedimientos.curaciones.tabla.tipoCuracion}}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.curaciones.tabla.tipoCuracionCampo"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.curaciones.tabla.diasSemanaCampo"
                                    class="texto-tabla">
                                    {{planManejoViewModel.mensajes.procedimientos.curaciones.tabla.diasSemana}}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.curaciones.tabla.diasSemanaCampo"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.curaciones.tabla.sesionesCampo"
                                    class="texto-tabla">
                                    {{planManejoViewModel.mensajes.procedimientos.curaciones.tabla.sesiones}}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.curaciones.tabla.sesionesCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla">
                                    {{ planManejoViewModel.mensajes.procedimientos.curaciones.tabla.accion }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.curaciones.tabla.tipoCuracion }}</span>
                                    {{ rowData.tipoCuracionDescripcion }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.curaciones.tabla.diasSemana }}</span>
                                    {{ rowData.dias | listaNombreDia }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.curaciones.tabla.sesiones }}</span>
                                    {{ rowData.sesiones }}
                                </td>
                                <td class="texto-tabla">
                                    <mat-icon class="accion" (click)="editarProcedimientoCuracion(rowData)" matTooltip="{{ planManejoViewModel.mensajes.campos.editar }}"
                                        [matTooltipPosition]="'above'">
                                        edit
                                    </mat-icon>
                                    <mat-icon class="accion" (click)="eliminarProcedimientoCuracion(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.eliminar }}"
                                        [matTooltipPosition]="'above'">
                                        delete
                                    </mat-icon>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" class="container" let-columns>
                            <tr>
                                <td class="centro" [attr.colspan]="columnasCuraciones.length + 1">
                                    {{ planManejoViewModel.mensajes.procedimientos.curaciones.tabla.noCuraciones }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-footer>
                        <div class="total-registros">
                            <span class="total-registros-texto">{{
                                planManejoViewModel.mensajes.procedimientos.curaciones.tabla.totalRegistros }}</span>
                            <span class="total-registros-valor">{{ planManejoViewModel.curaciones.length }}</span>
                        </div>
                    </p-footer>
                </div>
                <div #scrollDownProcedimientoCuracion tabindex="1"></div>
            </div>



            <div class="sondajes" *ngIf="planManejoViewModel.sondajes.length > 0">
                <div class="separador"></div>
                <div class="subtitulo-procedimiento">
                    <strong>{{planManejoViewModel.mensajes.procedimientos.opcionesMenu.sondajes}}</strong>
                </div>
                <div class="separador"></div>
                <div class="table">
                    <p-table [columns]="columnasSondajes" [value]="planManejoViewModel.sondajes" [scrollable]="true"
                        scrollHeight="400px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" 
                        [responsive]="true" dataKey="id">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="texto-tabla">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th class="texto-tabla">
                                    {{ planManejoViewModel.mensajes.procedimientos.sondajes.tabla.accion }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.sondajes.tabla.tipoSondajeNovedades }}</span>
                                    {{ rowData.idTipoSondaje }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.sondajes.tabla.sondaje }}</span>
                                    {{ rowData.sondaje }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.sondajes.tabla.fechaSondaje }}</span>
                                    {{ rowData.fechaSondaje | date:'dd-MM-yyyy hh:mm a' }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.sondajes.tabla.totalSesiones }}</span>
                                    {{ rowData.totalSesiones }}
                                </td>
                                <td class="texto-tabla">
                                    <mat-icon class="accion" (click)="editarProcedimientoSondajes(rowData)" matTooltip="{{ planManejoViewModel.mensajes.campos.editar }}"
                                        [matTooltipPosition]="'above'">
                                        edit
                                    </mat-icon>
                                    <mat-icon class="accion" (click)="eliminarProcedimientoSondajes(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.eliminar }}"
                                        [matTooltipPosition]="'above'">
                                        delete
                                    </mat-icon>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" class="container" let-columns>
                            <tr>
                                <td class="centro" [attr.colspan]="columnasSondajes.length + 1">
                                    {{ planManejoViewModel.mensajes.procedimientos.sondajes.tabla.noSondajes }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-footer>
                        <div class="total-registros">
                            <span class="total-registros-texto">{{
                                planManejoViewModel.mensajes.procedimientos.sondajes.tabla.totalRegistros }}</span>
                            <span class="total-registros-valor">{{ planManejoViewModel.sondajes.length }}</span>
                        </div>
                    </p-footer>
                </div>
                <div #scrollDownProcedimientoSondaje tabindex="1"></div>
            </div>

            <div class="fototerapias" *ngIf="planManejoViewModel.fototerapias.length > 0">
                <div class="separador"></div>
                <div class="subtitulo-procedimiento">
                    <strong>{{planManejoViewModel.mensajes.campos.fototerapias}}</strong>
                </div>
                <div class="separador"></div>
                <div class="table">
                    <p-table [columns]="columnasFototerapias" [value]="planManejoViewModel.fototerapias" [scrollable]="true"
                        scrollHeight="400px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" 
                        [responsive]="true" dataKey="id">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="texto-tabla">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th class="texto-tabla">
                                    {{ planManejoViewModel.mensajes.procedimientos.fototerapias.tabla.accion }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.fototerapias.tabla.diasTratamiento
                                        }}</span>
                                    {{ rowData.diasTratamiento }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.fototerapias.tabla.tipoFrecuencia
                                        }}</span>
                                    {{ rowData.tipoFrecuencia }}
                                </td>
                                <td class="texto-tabla">
                                    <mat-icon class="accion" (click)="editarProcedimientoFototerapia(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.editar }}"
                                        [matTooltipPosition]="'above'">
                                        edit
                                    </mat-icon>
                                    <mat-icon class="accion" (click)="eliminarProcedimientoFototerapia(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.eliminar }}"
                                        [matTooltipPosition]="'above'">
                                        delete
                                    </mat-icon>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" class="container" let-columns>
                            <tr>
                                <td class="centro" [attr.colspan]="columnasFototerapias.length + 1">
                                    {{ planManejoViewModel.mensajes.procedimientos.fototerapias.tabla.noFototerapias }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-footer>
                        <div class="total-registros">
                            <span class="total-registros-texto">{{
                                planManejoViewModel.mensajes.procedimientos.fototerapias.tabla.totalRegistros }}</span>
                            <span class="total-registros-valor">{{ planManejoViewModel.fototerapias.length }}</span>
                        </div>
                    </p-footer>
                </div>
                <div #scrollDownProcedimientoFototerapia tabindex="1"></div>
            </div>

            <div class="tomaMuestras" *ngIf="planManejoViewModel.tomaMuestras.length > 0">
                <div class="separador"></div>
                <div class="subtitulo-procedimiento">
                    <strong>{{planManejoViewModel.mensajes.campos.tomaMuestras}}</strong>
                </div>
                <div class="separador"></div>
                <div class="table">
                    <p-table [columns]="columnasTomaMuestras" [value]="planManejoViewModel.tomaMuestras" [scrollable]="true"
                        scrollHeight="400px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" 
                        [responsive]="true" dataKey="id">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="texto-tabla">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th class="texto-tabla">
                                    {{ planManejoViewModel.mensajes.procedimientos.tomaMuestra.tabla.accion }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.tomaMuestra.tabla.tipoMuestra
                                        }}</span>
                                    {{ rowData.tipoMuestra.descripcion }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.tomaMuestra.tabla.fechaMuestra
                                        }}</span>
                                    {{ rowData.fechaMuestra | date:'dd-MM-yyyy hh:mm a'}}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.tomaMuestra.tabla.requiereAyuno
                                        }}</span>
                                    {{ rowData.requiereAyuno | textoBooleano }}
                                </td>
                                <td class="texto-tabla">
                                    <mat-icon class="accion" (click)="editarProcedimientoTomaMuestra(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.editar }}"
                                        [matTooltipPosition]="'above'">
                                        edit
                                    </mat-icon>
                                    <mat-icon class="accion" (click)="eliminarProcedimientoTomaMuestra(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.eliminar }}"
                                        [matTooltipPosition]="'above'">
                                        delete
                                    </mat-icon>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" class="container" let-columns>
                            <tr>
                                <td class="centro" [attr.colspan]="columnasTomaMuestras.length + 1">
                                    {{ planManejoViewModel.mensajes.procedimientos.tomaMuestra.tabla.noTomaMuestras }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-footer>
                        <div class="total-registros">
                            <span class="total-registros-texto">{{
                                planManejoViewModel.mensajes.procedimientos.tomaMuestra.tabla.totalRegistros }}</span>
                            <span class="total-registros-valor">{{ planManejoViewModel.tomaMuestras.length }}</span>
                        </div>
                    </p-footer>
                </div>
                <div #scrollDownProcedimientoTomaMuestra tabindex="1"></div>
            </div>

            <div class="secreciones" *ngIf="planManejoViewModel.secreciones.length > 0">
                <div class="separador"></div>
                <div class="subtitulo-procedimiento">
                    <strong>{{planManejoViewModel.mensajes.campos.secreciones}}</strong>
                </div>
                <div class="separador"></div>
                <div class="table">
                    <p-table [columns]="columnasSecreciones" [value]="planManejoViewModel.secreciones" [scrollable]="true"
                        scrollHeight="400px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" 
                        [responsive]="true" dataKey="id">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="texto-tabla diasTratamientoTitulo" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.diasTratamientoCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.secreciones.tabla.diasTratamiento }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.diasTratamientoCampo.field"></p-sortIcon>
                                </th>
                                <th class="texto-tabla envioAspiradorTitulo" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.envioAspiradorCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.secreciones.tabla.envioAspirador }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.envioAspiradorCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla visitaEnfermeriaTitulo" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.visitaEnfermeriaCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.secreciones.tabla.visitaEnfermeria
                                    }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.visitaEnfermeriaCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.tipoSondaCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.secreciones.tabla.tipoSonda }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.tipoSondaCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.nasalCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.secreciones.tabla.nasal }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.nasalCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.traqueostomiaCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.secreciones.tabla.traqueostomia }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.secreciones.tabla.traqueostomiaCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla">
                                    {{ planManejoViewModel.mensajes.procedimientos.secreciones.tabla.accion }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td class="texto-tabla diasTratamientoValor">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.secreciones.tabla.diasTratamiento
                                        }}</span>
                                    {{ rowData.diasTratamiento }}
                                </td>
                                <td class="texto-tabla envioAspiradorValor">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.secreciones.tabla.envioAspirador
                                        }}</span>
                                    {{ rowData.envioAspirador | textoBooleano }}
                                </td>
                                <td class="texto-tabla visitaEnfermeriaValor">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.secreciones.tabla.visitaEnfermeria
                                        }}</span>
                                    {{ rowData.visitaEnfermeria | textoBooleano }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.secreciones.tabla.tipoSonda
                                        }}</span>
                                    {{ rowData.tipoSonda }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.secreciones.tabla.nasal
                                        }}</span>
                                    {{ rowData.nasal | textoBooleano }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.secreciones.tabla.traqueostomia
                                        }}</span>
                                    {{ rowData.traqueostomia | textoBooleano }}
                                </td>
                                <td class="texto-tabla">
                                    <mat-icon class="accion" (click)="editarProcedimientoSecrecion(rowData)" matTooltip="{{ planManejoViewModel.mensajes.campos.editar }}"
                                        [matTooltipPosition]="'above'">
                                        edit
                                    </mat-icon>
                                    <mat-icon class="accion" (click)="eliminarProcedimientoSecrecion(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.eliminar }}"
                                        [matTooltipPosition]="'above'">
                                        delete
                                    </mat-icon>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" class="container" let-columns>
                            <tr>
                                <td class="centro" [attr.colspan]="columnasSecreciones.length + 1">
                                    {{ planManejoViewModel.mensajes.procedimientos.secreciones.tabla.noSecreciones }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-footer>
                        <div class="total-registros">
                            <span class="total-registros-texto">{{
                                planManejoViewModel.mensajes.procedimientos.secreciones.tabla.totalRegistros }}</span>
                            <span class="total-registros-valor">{{ planManejoViewModel.secreciones.length }}</span>
                        </div>
                    </p-footer>
                </div>
                <div #scrollDownProcedimientoSecrecion tabindex="1"></div>
            </div>

            <div class="canalizaciones" *ngIf="planManejoViewModel.canalizaciones.length > 0">
                <div class="separador"></div>
                <div class="subtitulo-procedimiento">
                    <strong>{{planManejoViewModel.mensajes.campos.canalizaciones}}</strong>
                </div>
                <div class="separador"></div>
                <div class="table">
                    <p-table [columns]="columnasCanalizaciones" [value]="planManejoViewModel.canalizaciones"
                        [scrollable]="true" scrollHeight="400px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]"
                         [responsive]="true" dataKey="id">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="texto-tabla">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th class="texto-tabla">
                                    {{ planManejoViewModel.mensajes.procedimientos.canalizaciones.tabla.accion }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.canalizaciones.tabla.tipoCanalizacion
                                        }}</span>
                                    {{ rowData.tipoCanalizacion }}
                                </td>
                                <td class="texto-tabla">
                                    <mat-icon class="accion" (click)="editarProcedimientoCanalizacion(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.editar }}"
                                        [matTooltipPosition]="'above'">
                                        edit
                                    </mat-icon>
                                    <mat-icon class="accion" (click)="eliminarProcedimientoCanalizacion(rowData)"
                                        matTooltip="{{ planManejoViewModel.mensajes.campos.eliminar }}"
                                        [matTooltipPosition]="'above'">
                                        delete
                                    </mat-icon>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" class="container" let-columns>
                            <tr>
                                <td class="centro" [attr.colspan]="columnasCanalizaciones.length + 1">
                                    {{
                                    planManejoViewModel.mensajes.procedimientos.canalizaciones.tabla.noCanalizaciones
                                    }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-footer>
                        <div class="total-registros">
                            <span class="total-registros-texto">{{
                                planManejoViewModel.mensajes.procedimientos.canalizaciones.tabla.totalRegistros }}</span>
                            <span class="total-registros-valor">{{ planManejoViewModel.canalizaciones.length }}</span>
                        </div>
                    </p-footer>
                </div>
                <div #scrollDownProcedimientoCanalizacion tabindex="1"></div>
            </div>

            <div class="soporteNutricional" *ngIf="planManejoViewModel.soporteNutricionales.length > 0">
                <div class="separador"></div>
                <div class="subtitulo-procedimiento">
                    <strong>{{planManejoViewModel.mensajes.campos.soporteNutricional}}</strong>
                </div>
                <div class="separador"></div>
                <div class="table">
                    <p-table [columns]="columnasSoporteNutricional" [value]="planManejoViewModel.soporteNutricionales"
                        [scrollable]="true" scrollHeight="400px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]"
                         [responsive]="true" dataKey="id">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="texto-tabla medicamentoTitulo" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.medicamentoCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.medicamento
                                    }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.medicamentoCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.dosisCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.dosis }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.dosisCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.tipoNutricionCampo">
                                    {{
                                    planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.tipoNutricion
                                    }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.tipoNutricionCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.nutricionCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.nutricion
                                    }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.nutricionCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla duracionTitulo" [pSortableColumn]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.duracionCampo">
                                    {{ planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.duracion }}
                                    <p-sortIcon [field]="planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.duracionCampo"></p-sortIcon>
                                </th>
                                <th class="texto-tabla">
                                    {{ planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.accion }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td class="texto-tabla medicamentoValor">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.medicamento
                                        }}</span>
                                    {{ rowData.medicamentoDescripcion }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.dosis
                                        }}</span>
                                    {{ rowData.cantidadDosis }} {{ rowData.unidadDosis.descripcion }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.tipoNutricion
                                        }}</span>
                                    {{ rowData.tipoNutricionDescripcion }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.nutricion
                                        }}</span>
                                    {{ rowData.nutricionDescripcion }}
                                </td>
                                <td class="texto-tabla">
                                    <span class="ui-column-title">{{
                                        planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.duracion
                                        }}</span>
                                    {{ rowData.duracion }} {{
                                    planManejoViewModel.mensajes.tratamientos.campos.duracionDosis }}
                                </td>
                                <td class="texto-tabla">
                                    <button [disabled]="disableButton" mat-button matSuffix mat-icon-button (click)="editarProcedimientoSoporteNutricional(rowData)">
                                        <mat-icon [ngClass]="{'desactivarButtton': disableButton,
                                  'action': disableButton}">edit</mat-icon>
                                    </button>
                                    <button [disabled]="disableButton" mat-button matSuffix mat-icon-button (click)="eliminarProcedimientoSoporteNutricional(rowData)">
                                        <mat-icon [ngClass]="{'desactivarButtton': disableButton ,
                                  'action': disableButton}">delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" class="container" let-columns>
                            <tr>
                                <td class="centro" [attr.colspan]="columnas.length + 1">
                                    {{
                                    planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.noSoporteNutricional
                                    }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-footer>
                        <div class="total-registros">
                            <span class="total-registros-texto"> {{
                                planManejoViewModel.mensajes.procedimientos.soporteNutricional.tabla.totalRegistros }}</span>
                            <span class="total-registros-valor">{{ planManejoViewModel.soporteNutricionales.length }}</span>
                        </div>
                    </p-footer>
                </div>
                <div #scrollDownProcedimientoSoporteNutricional tabindex="1"></div>
            </div>
        </div>

        <div class="separador"></div>

        <div class="boton">
            <button mat-raised-button id="guardarPlanManejo" color="primary" (click)="guardarPlanManejo()" [disabled]="deshabilitarGuardarPlanManejo()">
                {{ planManejoViewModel.mensajes.botones.guardarPlanManejo }}
            </button>
        </div>
        <div class="separador"></div>
    </form>
</div>
