.dialog {
  width: 100%;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.seccion {
  width: 100%;
  display: flex;
}

.separador {
  height: 2em;
}

.campo {
  width: 66%;
  text-align: center;

  mat-form-field {
    width: 90%;
  }
}

.alto-campo {
  height: 6em;
}

.espacio {
  height: 1em;
}

.estado-proveedor {
  display: inline;
}

mat-form-field {
  width: 33%;
}


@media (max-width: 800px) {

  mat-form-field {
    width: 100%;
  }

  .seccion {
    display: inline;
    text-align: center;
  }

  .contenedor {
    display: block;
    width: 100%;
  }
  .contenedor-formulario {
    width: 10%;
  }
  .campo-izquierda{
    width: 100%;
    margin-right: 0%;
  }
  .campo-derecha{
    width: 100%;
  }
  .campo_identificacion{
    display: block;
  }
  .campo {
    padding-bottom: 5px;
    display: block;
    width: 100%;
  }

  .campoNota {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  .fecha {
    margin-left: 0%;
  }

  .fecha-fin {
    margin-bottom: 5%;
  }

  .campoDireccion {
    width: 100%;
    text-align: center;

    mat-form-field {
      width: 100%;
    }
  }

}
