.container {
    margin-top: 2%;
}


.flex-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 5%;
    .contenedor {
        /*Pantalla pequenia*/
        @media (max-width: 640px) {
            width: 100%;
        }
        /*Pantalla Mediana*/
        @media (min-width: 641px) {
            width: 50%;
        }
        /*Pantalla grande*/
        @media (min-width: 1006px) {
            width: 50%;
        }
    }
    .campo {
        padding-bottom: 5px;
    }
    .boton {
        padding: 5px;
        text-align: center;
    }
    mat-form-field {
        width: 100%;
    }
}

.campo-motivo {
  text-align: center;
  width: 45%;
}

.campo-filtro-horas {
  margin-left: 8%;
  width: 27%;
}

.control-motivo {
  width: 56%;
}

.detalle {
  cursor: pointer;
}

.tablaPrincipal {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.tabla {
  width: 65%;
  max-width: 100%;
  background-color: transparent;
  margin-left: 20%;
}

.texto{
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

.linea-espacio {
    border: 0.5px solid #D5D5D5;
    margin-top: 1%;
    margin-bottom: 1%;
}


.texto-volver {
    margin-top: 0.8%;
    margin-left: 1%;
    font-size: 12pt;
    width: 15%;
    color: #0033a0;
    cursor: pointer;
}

.texto-titulo {
    text-align: center;
    font-size: 20pt;
    width: 60%; 
    margin-top: 0.5%;
}

.tamano-control-calendario-egreso {
    width: 29em !important;
}

.boton {
    text-align: center;
}

.separador {
    height: 2em;;
}

.alto-campo {
    height: 5em;
}

.mat-error-clase {
    display: block;
    color: #f44336;
    font-size: 75%;    
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-top: 1%;
    text-align: center;
  }

  .texto-tabla {    
    text-align: center;
    font-size: 10pt;
   }

.tamano-columna {
    width: 4%;
}

.seleccion-tabla {
    width: 3%;
    text-align: center;
}

  .ui-state-highlight {
    background-color: #0033a0 !important;
  }


  .listas {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }


  .total-registros {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
  }
  
  .total-registros-texto {
    font-size: 10pt;
    font-weight: bold;
    color: #0033a0;
  }
  
  .total-registros-valor {
    font-size: 10pt;
    font-weight: bold;
  } 


  @media (max-width: 800px) { 


    .texto-volver {
        font-size: 7pt;
    }

    .texto-titulo {
        font-size: 18pt;
    }

    .img-opcion {
        width: 7%;        
    }

  }

  /* Column Priorities */
@media only all {
    th.ui-p-6,
    td.ui-p-6,
    th.ui-p-5,
    td.ui-p-5,
    th.ui-p-4,
    td.ui-p-4,
    th.ui-p-3,
    td.ui-p-3,
    th.ui-p-2,
    td.ui-p-2,
    th.ui-p-1,
    td.ui-p-1 {
        display: none;
    }
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
    th.ui-p-1,
    td.ui-p-1 {
        display: table-cell;
    }
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
    th.ui-p-2,
    td.ui-p-2 {
        display: table-cell;
    }
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
    th.ui-p-3,
    td.ui-p-3 {
        display: table-cell;
    }
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
    th.ui-p-4,
    td.ui-p-4 {
        display: table-cell;
    }
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
    th.ui-p-5,
    td.ui-p-5 {
        display: table-cell;
    }
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
    th.ui-p-6,
    td.ui-p-6 {
        display: table-cell;
    }
}

