.container {
  width: 100%;
  padding-left: 0px !important;
}


.ventana-container {
display: flex;
}

.menu {
  margin-top: 3%;
  width: 25%;
}

.form {
  width: 100%;
  border: 1px solid #D5D5D5;
}

.contenedor-formulario {
height: 100%;
margin-top: 3%;
margin-bottom: 3%;
}

.titulo-ventana {
text-align: left;
margin-bottom: 3%;
}

.campo {
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
}

.campo-soporte {
  width: 100%;
  text-align: left;
  margin-bottom: 1%;
  margin-left: 3%;

   .mat-raised-button {
     width: 3em !important;
     min-width: 56px !important;
   }

}

.parental-dias {
  width: 100%;
  display: flex;
}

.dias {
  width: 37%;
  text-align: right;
}

.dias-solo {
  width: 36%;
  margin-left: 68%;
}

.campo-control {
  width: 40%
}

.campo-control-sondaje {
  width: 35%
}

.campo-control-fototerapia {
  width: 27%;
}

.campo-soporte-medicamento {
  width: 95%; 
  margin-left: 1%; 
}

.campo-soporte-dias {
  width: 66%;
}

.campo-soporte-dosis {
  width: 13%;
  margin-right: 1.5%;
}

.campo-soporte-unidades {
  width: 15%;
  margin-right: 1.5%;
}

.campo-soporte-volumen {
  width: 13%;
  margin-right: 1.5%;
}

.campo-soporte-duracion {
  width: 16%;
  margin-right: 1%;
}

.campo-soporte-tiponutricion {
  width: 17%;
  margin-right: 1%;
}

.campo-soporte-nutricion {
  width: 15%;
}



.campo-soporte-nopbs {
  width: 15%;
}

.campo-soporte-dia-evento {
  width: 30%;
  margin-right: 1%;
}

.campo-soporte-hora-evento {
  width: 16%;
  margin-right: 1%;
}

.campo-soporte-tipo-evento {
  width: 16%;
  margin-right: 1%;
}

.campo-soporte-sesiones-evento {
  width: 16%;
  margin-right: 1%;
}

.agregar-hora {
  margin-left: 2%;
}

.table {
  width: 94%;
}

.texto-tabla {
  text-align: center;
  font-size: 10pt;
}

.dia-tabla-texto {
  width: 40%;
}

.dia-tabla-valor {
  width: 40%;
}

.hora-tabla-texto {
  width: 10%;
}

.hora-tabla-valor {
  width: 10%;
}

.evento-tabla-texto {
  width: 16%;
}

.evento-tabla-valor {
  width: 16%;
}

.dias-tratamiento-tabla-texto {
  width: 19%;
}

.dias-tratamiento-tabla-valor {
  width: 19%;
}

.opciones-boton-texto {
  width: 15%
}

.opciones-boton-valor {
  width: 15%
}

.control-radio {
width: 40%;
display: inline-block;
}

.seccion-formulario-grande {
width: 55%;
}

.seccion-formulario-pequeno {
  width: 45%;
}

.secciones-formulario {
width: 100%;
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}


.ui-tabview .ui-tabview-panel {
padding: 0 !important;
}

.titulo-campo {
text-align: center;
margin-bottom: 0;
}


.texto-otro-diluyente {
height: 1em;
}

.cantidadDosis {
display: flex;
flex-direction: row;
justify-content: center;
}

.cantidadDiluyente {
display: flex;
}


.fechaFinTratamiento {
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 2.5%;
}



.noPBS {
margin-bottom: 5%;
margin-top: 8%;
}

.controlUltimaTomaMuestra {
margin-right: 4%;
}

.titulo-diluyente {
margin-top: 5%;
}


.centro {
  text-align: center;
}


.mat-error-clase {
display: block;
color: #f44336;
font-size: 75%;
text-align: center;
font-weight: 400;
line-height: 1.125;
font-family: Roboto, "Helvetica Neue", sans-serif;
margin-top: 1%;
}

.valorFechaFinTratamiento {
margin-left: 2%;
}

.alto-campo {
  height: 5em;
}

.mat-dialog-content {
height: 28em !important;
}

.ancho-control-input-calendario-tomamuestra {
width: 40%;
}

.controlUltimaAplicacion {
text-align: center;
margin-right: 7%;
}

.grupo-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control-checkbox-envio-visita {
  width: 21%;
}

.control-checkbox-via {
  width: 33%;
}

.first {
  display: inline;
}

.second {
  display: none;
}

.ayuno_line{
  display: inline-flex;
  width: 50%;
}

.ayuno_{
  margin-top: 5%;
}
.field_tomaMuestra{
  width: 85%;
}
.content_tomMuestra{
  width: 82%;
  margin-left: 9%;
}

.control-dosis-texto {
  margin-top: 5%;
  width: 20%;
  font-size: 12pt;
}

.fieldset-control {
  width: 50%;
  margin-left: 5%;
}

.left {
  text-align: left !important;
}

.nutricion-control {
  display: inline-flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .ventana-container {
    display: grid;
    justify-items: center;
  }

  .menu {
    width: 65%;
    font-size: 9pt;
    height: 12em;
  }

  .secciones-formulario {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .seccion-formulario {
    width: 100%;
  }

  .campo {
    font-size: 9pt;
  }

  .control-radio {
    width: 65%;
  }

  .menu {
    height: 14em;
  }

  .campo-control {
    width: 65%;
  }

  .campo-control-fototerapia {
    width: 65%;
  }

  .grupo-checkbox {
    display: grid;
  }

  .campo-control-sondaje {
    width: 70%;
  }

  .seccion-formulario-grande {
    width: 100%;
  }

  .campo-soporte-dias {
    width: 90%;
  }

  .campo-soporte-dosis {
    width: 90%;
  }

  .campo-soporte-unidades {
    width: 90%;    
  }

  .campo-soporte-volumen {
    width: 90%;
  }

  .campo-soporte-tiponutricion {
    width: 90%;
  }

  .campo-soporte-duracion {
    width: 90%;
  }

  .seccion-formulario-pequeno {
    width: 100%;
  }

  .campo-soporte-dia-evento {
    width: 90%;
  } 

  .campo-soporte-hora-evento {
    width: 90%;
  }

  .campo-soporte-nutricion {
    width: 90%;
  }

  .campo-soporte-tipo-evento {
    width: 90%;
  }

  .campo-soporte-sesiones-evento {
    width: 62%;
  }
}
