<h4 mat-dialog-title>
    {{ modalCancelaRemisionPendienteViewModel.mensajes.campos.titulo }}
</h4>

<mat-dialog-content>

    <div class="flex-contenedor-cancelacion">
        <form class="contenedor" [formGroup]="formulario">

            <div class="campo">
                <mat-form-field (click)="getMotivosCancelacion()">
                    <mat-select id="motivoCancelacion" placeholder="{{ modalCancelaRemisionPendienteViewModel.mensajes.campos.motivoCancelacion }}" formControlName="motivoCancelacion" required>
                        <mat-option *ngFor="let motivo of modalCancelaRemisionPendienteViewModel.respuestaMotivosCancelaciones" [value]="motivo.idMotivo">
                            {{ motivo.descripcion }}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="!formulario.controls['motivoCancelacion'].hasError('required')">
                        {{ modalCancelaRemisionPendienteViewModel.mensajes.errores.motivoCancelacionRequerido }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="campo">
                <mat-form-field class="ancho-campo">
                    <textarea formControlName="observaciones" #observaciones matInput placeholder="{{  modalCancelaRemisionPendienteViewModel.mensajes.campos.observaciones }}"></textarea>
                    <mat-hint align="end">{{ observaciones.value.length }} / 4000</mat-hint>
                </mat-form-field>
            </div>
        </form>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="center">

    <button mat-raised-button id="cancelar" (click)="cancelar()">
  <mat-icon>close</mat-icon>
  {{ modalCancelaRemisionPendienteViewModel.mensajes.botones.cancelar }}
</button>

    <button mat-raised-button id="continuar" color="primary" (click)="continuar()" [disabled]="!formulario.valid">
  <mat-icon>done</mat-icon>
  {{ modalCancelaRemisionPendienteViewModel.mensajes.botones.continuar }}
</button>
</mat-dialog-actions>
