<mat-progress-bar [hidden]="!diagnosticosViewModel.cargando" mode="indeterminate">
</mat-progress-bar>

<form [formGroup]="formulario">

  <div class="separador"></div>

  <div class="flex-contenedor">


    <div class="contenedor">
      <mat-form-field class="diagnostico">
        <input matInput placeholder="{{ diagnosticosViewModel.mensajes.campos.diagnostico }}" [matAutocomplete]="auto"
          (keyup)="traerDiagnosticos()" formControlName="diagnosticoSeleccionado">

        <button [disabled]="disableButton" mat-button *ngIf="formulario.controls['diagnosticoSeleccionado'].value"
          matSuffix mat-icon-button (click)="formulario.controls['diagnosticoSeleccionado'].setValue(null)">
          <mat-icon>close</mat-icon>
        </button>

        <mat-hint>{{ diagnosticosViewModel.mensajes.campos.buscar }}</mat-hint>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarInformacion" (optionSelected)="opcionSeleccionada($event)">
          <mat-option *ngFor="let opcion of diagnosticosViewModel.respuestaDiagnosticos" [value]="opcion">
            {{ opcion.codigo }} {{ opcion.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>

  <div class="separador"></div>

  <div class="tamaño_tabla">

    <p-table [value]="diagnosticosViewModel.diagnosticosAGuardar" dataKey="codigo" [scrollable]="true" scrollHeight="175px"
    [responsive]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="campo_codigo">
            {{ diagnosticosViewModel.mensajes.tabla.codigo }}
          </th>
          <th class="campo_nombre">
            {{ diagnosticosViewModel.mensajes.tabla.nombre }}
          </th>
          <th *ngIf="mostrarElminar" style="width: 3em">
            {{diagnosticosViewModel.mensajes.tabla.accion}}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td class="campo_codigo texto-tabla">
            <span class="ui-column-title">{{ diagnosticosViewModel.mensajes.tabla.codigo }}</span>
            {{ rowData.codigo}}
          </td>
          <td class="campo_nombre texto-tabla">
            <span class="ui-column-title">{{ diagnosticosViewModel.mensajes.tabla.nombre }}</span>
            {{rowData.nombre}}
          </td>
          <td class="columna-borrar">
            <button [disabled]="disableButton" mat-button matSuffix mat-icon-button (click)="eliminarDiagnostico(rowData)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>

          <td class="texto-tabla" [attr.colspan]="columnas.length">
            {{ diagnosticosViewModel.mensajes.tabla.noDiagnosticos }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="total-registros">
      <span class="total-registros-texto">{{ diagnosticosViewModel.mensajes.tabla.totalRegistros }}</span>
      <span class="total-registros-valor">{{ diagnosticosViewModel.diagnosticosAGuardar.length }}</span>
    </div>
  </div>
</form>
