<h4 align="center" class="titulo" mat-dialog-title>
  {{ alertasVisitasModel.mensajes.campos.subtittle }}
</h4>

<mat-dialog-actions align="end">

  <button
    mat-raised-button
    id="cancelar"
    (click)="cerrar()">
    <mat-icon>close</mat-icon>
    {{ alertasVisitasModel.mensajes.botones.cerrar }}
  </button>

  <button
    mat-raised-button
    id="continuar"
    color="primary"
    (click)="guardar()">
    <mat-icon>done</mat-icon>
    {{ alertasVisitasModel.mensajes.botones.guardar }}
  </button>
</mat-dialog-actions>
