@import '../../../../sass/abstracts/variables';

mat-radio-group {
  width: 100%;
}

mat-radio-button {
  width:40%;
  padding-right: 30px
}

.flex-contenedor-condiciones {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  .contenedor {
    /*Pantalla pequenia*/
    @media (max-width: 640px) {
      width: 100%;
    }
    /*Pantalla Mediana*/
    @media (min-width: 641px) {
      width: 50%;
    }
    /*Pantalla grande*/
    @media (min-width: 1006px) {
      width: 50%;
    }
  }
  .separador {
    height: 25px;
  }
  mat-error {
    font-size: 75%;
  }
}

.campo {
  padding-bottom: 5px;
  .celular {
    width: 35% !important;
    margin-right: 3rem;
  }
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-contenedor-atencion {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .contenedor-item-atencion {
    /*Pantalla pequenia*/
    @media (max-width: 800px) {
      width: 100%;
    }
    /*Pantalla Mediana*/
    @media (min-width: 801px) {
      width: 50%;
    }
    /*Pantalla grande*/
    @media (min-width: 1006px) {
      width: 50%;
    }
    .flex-item-atencion {
      width: 100%;
      mat-form-field {
        width: 80%;
      }
      .direccion {
       width: 72%;
      }
    }
  }
}
esOxigeno {
  margin-left: 23% !important;
}
