.separador {
    height: 1em;
}

.boton-agregar {
    text-align: left;
}

.boton-guardar {
    text-align: center;
}

.texto-resultados-grid {
    text-align: center;
}

.plus {
    font-size: 12pt;
}

.accion {
    cursor: pointer;
}

.texto-tabla {
    font-size: 10pt;
    text-align: center;
}

  .total-registros {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
  }

  .total-registros-texto {
    font-size: 10pt;
    font-weight: bold;
    color: #0033a0;
  }

  .total-registros-valor {
    font-size: 10pt;
    font-weight: bold;
  }
