<mat-progress-bar
  [hidden]="!informeRemisionesViewModel.cargando"
  mode="indeterminate"
>
</mat-progress-bar>
<div class="container">
  <div class="flex-contenedor">
    <form class="contenedor" [formGroup]="formulario">
      <div class="campo">
        <div class="control-fecha-inicial">
          <p-calendar
            inputStyleClass="tamano-control-informe-vehicular"
            formControlName="fechaInicio"
            [showIcon]="true"
            [locale]="configEspanolCalendario"
            placeholder="{{
              informeRemisionesViewModel.mensajes.campos.fechaInicio
            }}"
            dateFormat="dd/mm/yy"            
            [monthNavigator]="true"
            [yearNavigator]="true"
            yearRange="1900:2100"
            [showTime]="false"
            hourFormat="12"
            [readonlyInput]="true"
          ></p-calendar>
        </div>
        <div
          class="mat-error-clase"
          *ngIf="formulario.controls['fechaInicio'].hasError('required')"
        >
          {{ informeRemisionesViewModel.mensajes.errores.fechaInicioRequerido }}
        </div>
      </div>
      <div class="separador"></div>
      <div class="table">
        <p-table
          [columns]="columnas"
          [value]="informeRemisionesViewModel.respuestaEstados"
          [(selection)]="informeRemisionesViewModel.estadosSeleccionadas"
          [scrollable]="true"
          scrollHeight="400px"
          [paginator]="false"
          [responsive]="true"
          dataKey="id"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" class="texto-tabla">
                {{ col.header }}
              </th>
              <th class="texto-tabla">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td class="texto-tabla" *ngFor="let col of columns">
                {{ rowData[col.field] }}
              </td>
              <td class="texto-tabla">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" class="container" let-columns>
            <tr>
              <td class="texto-tabla" [attr.colspan]="columnas.length + 1">
                {{ informeRemisionesViewModel.mensajes.tabla.noEstados }}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-footer>
          <div class="total-registros">
            <span class="total-registros-texto">
              {{
                informeRemisionesViewModel.mensajes.tabla.totalRegistros
              }}</span
            >
            <span class="total-registros-valor">{{
              informeRemisionesViewModel.respuestaEstados.length
            }}</span>
          </div>
        </p-footer>
      </div>

      <p class="mat-error-clase" *ngIf="verValidacionRemision()">
        {{
          informeRemisionesViewModel.mensajes.errores.seleccionEstadoRequerido
        }}
      </p>

      <div class="separador"></div>

      <div class="campo boton-descargar">
        <button
          mat-raised-button
          id="consultarInforme"
          color="primary"
          (click)="descargarInforme()"
          [disabled]="validarDescargarRemision()"
        >
          {{ informeRemisionesViewModel.mensajes.botones.descargarInforme }}
          <mat-icon>
            cloud_download
          </mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
